/* GENERAL RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.content{
  margin: 60px auto;
  width: 993px;
}
a, a:hover{
  text-decoration: none;
}
li{
  list-style-type: none;
  margin: 0;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 24px;
}
/* BLUE SECTION RULES */
.blue{
  background: -webkit-linear-gradient(60deg, #225393, #002351);
  width: 100vw;
}
.blue h1{
  color: white;
}
.blue h2{
  color: #6c8dbc;
}
.blue ul li i, .blue ul li{
  color: #6c8dbc;
}
.blue p{
  color: #9ba6b7;
  font-size: 20px;
  margin-top: 30px;
}

/* WHITE SECTION RULES */
.white{
  background-color: whitesmoke;
  width: 100vw;
}
.white h1, .white h2{
  color: black;
  margin-bottom: 40px;
}
.white p{
  color: #9ba6b7;
  margin-top: 16px;
  font-size: 20px;
}

/* VARIOUS RULES AND DIMENSIONS*/
#logo{
  background: url("../../img/logo.png") no-repeat;
  height: 134px;
  width: 134px;
  margin-top: 150px;
}
#box1{
  margin-top: 150px;
}
#box1 *{
  text-align: left;
  margin-top: 20px;
}
#box1 span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -38px;
}
#box1 li{
  margin: 0;
  display: inline-block;
  margin-right: 32px;
}
#box2 img{
  height: auto;
  width: 465px;
}
#plan div:first-child{
  margin-top: 80px;
  margin-bottom: 80px;
}
#plan div:nth-child(2) *{
  text-align: right;
}
#plan div:last-child *{
  text-align: left;
}
.plan{
  margin-top: 70px;
}
#screenshot1 img{
  width: 278px;
  height: auto;
}
.pomodoro{
  margin: 80px auto;
}
#screenshot2 img, #screenshot3 img, #screenshot4 img{
  width: 240px;
  height: auto;
}
#screenshot5 img, #screenshot6 img{
  width: 300px;
  height: auto;
  margin: auto 20px;
}
footer h4{
  color: black;
}
footer{
  background-color: red;
}
